{% extends 'base.html' %}

{% block content %}

    <div class="card">
        <div class="card-header">
            {{ customer_record.first_name }} {{ customer_record.last_name }}
        </div>
        <div class="card-body">
            <p class="card-text"></p>
                <p class="card-text">
                    <strong>Email: </strong>{{ customer_record.email }}
                </p>
                <p class="card-text">
                    <strong>Phone: </strong>{{ customer_record.phone }}
                </p>
                <p class="card-text">
                    <strong>Address: </strong>{{ customer_record.address }}
                </p>
                <p class="card-text">
                    <strong>City: </strong>{{ customer_record.city }}
                </p>
                <p class="card-text">
                    <strong>State: </strong>{{ customer_record.state }}
                </p>
                <p class="card-text">
                    <strong>Zipcode: </strong>{{ customer_record.zipcode }}
                </p>
                <p class="card-text">
                    <strong>Created At: </strong>{{ customer_record.created_at }}
                </p>
                <p class="card-text">
                    <strong>ID: </strong>{{ customer_record.id }}
                </p>
        </div>
    </div>

    <br><br>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
    <a href="{% url 'update_record' customer_record.id %}" class="btn btn-warning">Update</a>
    <!-- <a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#comfirmDelete">Delete</a> -->
    <a class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#comfirmDelete">Delete</a>
    
    <!-- Modal -->
    <div class="modal fade" id="comfirmDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Customer Record Delete</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Are you sure to delete this customer record?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
        </div>
    </div>

{% endblock %}